build.ninja
.cache
CatPi
CatPi_autogen/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
experiments/enablefpe/a.out
experiments/standardicons/standardicons
experiments/standardicons/standardicons_autogen/
experiments/widgetsgallery/
experiments/widgetsgallery/widgetsgallery
experiments/widgetsgallery/widgetsgallery_autogen/
.ninja_deps
.ninja_log
.qt/
src/pipins
